# Node dependencies
node_modules/

# SASS output
*.css
*.css.map

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VS Code settings
.vscode/

# macOS metadata
.DS_Store

# Compiled output (if using a dist or build folder)
dist/
build/
